@model Majstic.Models.Upro


<img src="~/thumb/@Model.proimg" class="img-circle img-responsive thumbnail col-centered" width="75" oncontextmenu="return false" style="pointer-events:none">

<div class="col-centered marginTop5px">
    <p class="col-centered"> <strong>@Model.username</strong></p>
    <p> <strong> @Model.Points </strong> Points</p>
    <p> <strong> @Model.Email </strong> </p>
    <p> <strong> @Model.PhoneNo </strong> </p>
</div><hr />