@{
    ViewBag.Title = "MiniBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.x == 4)
        {
            <h3>Create new MiniBook</h3>
            <p class="" style="color:#bab8b8">Add 25 Picture to create a mini book album</p>

        }

        else
        {
            <h3>Create new Large Book</h3>
            <p class="" style="color:#bab8b8">Add 35 pictures to create your large book album</p>
        }
    </div>
    <div class="col-md-6">
        <div id="">
            <p class="col-centered">  <strong id="OrderStatus"> you haave selected 0 picture</strong></p>
            <hr />
            @Html.ActionLink("Check Out", "CH", "Members", null, new { @class = "btn btn-default btn-block " })
        </div>
    </div>
</div>

<div class="thumbnail marginTop10px">



    <div class="PartialContent" data-url="@Url.Action("XLatestPic", "Members")" id="ToChange">
        <img src="~/Content/SdnHotelsLoader.GIF" />
    </div>
</div>